# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://xjswpdlellrzzuccnxas.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhqc3dwZGxlbGxyenp1Y2NueGFzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk1NDU1MDAsImV4cCI6MjEwNTEyMTUwMH0.ZwQc2occTKliejOQmCJLG6qW4XgWyqr_g747w_M4h7Y

# Server-only. NEVER expose to the client / never prefix with NEXT_PUBLIC_
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhqc3dwZGxlbGxyenp1Y2NueGFzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4OTU0NTUwMCwiZXhwIjoyMTA1MTIxNTAwfQ.8L-NlhHgF1aSSbxS2s3m6x43UO0g9dpuou6IXIf62mc

# App
NEXT_PUBLIC_SITE_NAME="Kabianga Connect"
NEXT_PUBLIC_SITE_URL=http://localhost:3000
